{% load staticfiles %}
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mais detalhes da notícia</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
</head>
<body>
    <header class="app-header">
        <a href="{% url 'home' %}" class="btn-home">
            <span uk-icon="icon: chevron-left; ratio: 2"></span> Home
        </a>

        <h2 class="title"><span uk-icon="icon: nut; ratio: 2"></span> Fake News Br</h2>
    </header>

    <section class="uk-section">
        <article class="uk-container uk-article">
            <h1 class="uk-article-title">{{ post.titulo }}</h1>
            <h3 class="text-light">{{ post.resumo }}</h3>

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: pull">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="/static{{ post.image1.url }}" alt="{{ post.name }}" alt="" uk-cover />
                    </li>
                    {% if post.image2.url %}
                    <li>
                        <img src="/static{{ post.image2.url }}" alt="{{ post.name }}" alt="" uk-cover />
                    </li>
                    {% endif %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>

            <p>{{ post.content|linebreaks }}</p>
        </article>
    </section>

    <div class="uk-section uk-section-muted">
        <aside class="uk-container">
            <h3>Deixe seu comentário</h3>
            
            <form class="form uk-form-stacked" method="POST">
                {% csrf_token %}
                {{ form }}
                
                <div class="uk-margin">
                    <!-- <input type="hidden" name="blog" value="{{ post.id }}"> -->
                    <button class="uk-button uk-button-primary" type="submit">ENVIAR COMENTÁRIO</button>
                </div>

            </form>
        </aside>

        {% if listComments %}
        <section class="uk-container">
            <br /><h3><b>Comentários</b></h3>

            <ul class="uk-comment-list">
                {% for comment in listComments %}
                <li>
                    <article class="uk-comment">
                        <header class="uk-comment-header uk-position-relative">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <span uk-icon="icon: user; ratio: 2"></span>
                                </div>
                                <div class="uk-width-expand">
                                    <h4 class="uk-comment-title uk-margin-remove"><b>{{ comment.nome }}</b></h4>
                                    <p class="uk-comment-meta uk-margin-remove-top"><span uk-icon="icon: calendar"></span> em <i>{{ comment.createAt }}</i></p>
                                </div>
                            </div>
                        </header>

                        <div class="uk-comment-body">
                            <p>{{ comment.mensagem }}</p>
                        </div>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </div>
    
</body>
</html>