{% load staticfiles %}
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marcelo Colla Blog</title>
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">

</head>
<body>
    <header class="app-header">
        <h2 class="title"><span uk-icon="icon: nut; ratio: 2"></span> Fake News Br</h2>
    </header>

    <section class="uk-section uk-section-muted">
        <div class="uk-container">
            <h1 class="uk-heading-divider">Últimas Notícias</h1>

            {% for post in listBlog %}
            <article class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <figure class="uk-card-media-left uk-cover-container">
                    <img src="/static{{ post.image1.url }}" alt="{{ post.name }}" uk-cover>
                    <canvas width="200" height="200"></canvas>
                </figure>

                <header class="uk-card-body">
                    <h3 class="uk-card-title"><b>{{ post.titulo }}</b></h3>
                    <p>{{ post.resumo }}</p>
                    <a href="{% url 'blog' post.id %}" class="uk-button uk-button-primary">Leia mais</a>
                </header>
            </article>
            {% endfor %}

        </div>
    </section>
</body>
</html>